*.log
*.json


mga_ltto/__pycache__
mga_ltto/deprecated
mga_ltto/test_optimization_results/*
mga_ltto/verification/.DS*
/* mga_ltto/topology_database/* */
/* mga_ltto/verification/verification_results/* */
/* mga_ltto/pp_*/* */

mga-ltto-old/**
testing/**
tudatpy-examples
test*.py
error.txt


